{block content}
<section class="results">
    <h1 n:block=title>Stránka nenalezena</h1>

    <p>Tahle stránka nebyla nalezena, pokud něco hledáš a nemůžeš najít, pokus se kontaktovat správce stránky, kontakt najdeš ve footeru.</p>
    <p><a href="/">Přejít na hlavní stránku</a></p>
    <p><small>error 404</small></p>
</section>
